
#subtitulosCyC {
    font-family: 'Comfortaa', cursive;
    color:#31B189;
    background: linear-gradient(to top,  #f6fff8, #eaf4f4, #f6fff8);
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: bold; 
    
}

#sublistas {
        font-family: 'Comfortaa', cursive;
        font-weight: 400px;
        color: #BDB76B;
        list-style-position: inside;
        text-align: center;
        font-size: 18px;}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    font-family: 'Comfortaa', cursive; 
    font-weight: 400px;
    color: #BDB76B;
    letter-spacing: 2px;
}