             
                
#listamapa {
    font-family: 'Comfortaa', cursive;
    color: #31B189;
    font-weight: bold;
    list-style-position: inside;
    text-align: left;
    font-size: 20px; }

#sublistamapa {
    font-family: 'Comfortaa', cursive;
    font-weight: 400px;
    color: #BDB76B;
    list-style-position: inside;
    text-align: left;
    font-size: 15px; }
    